<a href="https://colab.research.google.com/github/yooste/SOLUX_COVID_19/blob/main/python_data_analysis/06_pandas_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**pandas 라이브러리로 데이터 처리하기**

###**1. Series로 feature를 보다 상세하게 탐색하기**
코로나 바이러스 데이터와 함께 pandas 라이브러리 익히기
* COVID-19-master 폴더 확인

In [ ]:
import pandas as pd
PATH = 'COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'
doc = pd.read_csv(PATH + "04-01-2020.csv",encoding="utf-8-sig")

In [ ]:
doc.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...      0  Abbeville, South Carolina, US
1  22001.0     Acadia  ...      0          Acadia, Louisiana, US
2  51001.0   Accomack  ...      0         Accomack, Virginia, US
3  16001.0        Ada  ...      0                 Ada, Idaho, US
4  19001.0      Adair  ...      0                Adair, Iowa, US

[5 rows x 12 columns]

**데이터프레임에서 Series 추출하기**
* 하나의 feature(column)만 선택하면 됨

In [ ]:
countries = doc['Country_Region']
countries.head()

0    US
1    US
2    US
3    US
4    US
Name: Country_Region, dtype: object

**Series로 feature를 보다 상세하게 탐색하기**
* size: 사이즈 반환
* count(): 데이터가 없는 경우를 뺀 사이즈 변환
* unique(): 유일한 값만 반환
* value_counts(): 데이터가 없는 경우를 제외하고, 각 값의 개수를 반환

In [ ]:
print(countries.size, countries.count())

2485 2485

In [ ]:
print(countries.unique(), len(countries.unique()))

['US' 'Canada' 'United Kingdom' 'China' 'Netherlands' 'Australia'
 'Denmark' 'France' 'Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Austria' 'Azerbaijan'
 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burma' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Central African Republic' 'Chad' 'Chile'
 'Colombia' 'Congo (Brazzaville)' 'Congo (Kinshasa)' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Diamond Princess'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'Holy See' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Korea, South' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia'
 'Lebanon' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'MS Zaandam' 'Madagascar' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Namibia' 'Nepal' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia' 'South Africa'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan*' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'Uruguay' 'Uzbekistan' 'Venezuela' 'Vietnam'
 'West Bank and Gaza' 'Zambia' 'Zimbabwe'] 181

In [ ]:
countries.value_counts()

US                2228
China               33
Canada              16
United Kingdom      10
France              10
                  ...
Zambia               1
Burundi              1
Kuwait               1
Guinea-Bissau        1
Thailand             1
Name: Country_Region, Length: 181, dtype: int64

###**2. 필요한 컬럼만 선택하기**
* 여러 컬럼을 선택하면, 별도의 데이터프레임이 됨

In [ ]:
covid_stat = doc[['Confirmed','Deaths','Recovered']]
covid_stat.head()

   Confirmed  Deaths  Recovered
0          4       0          0
1         47       1          0
2          7       0          0
3        195       3          0
4          1       0          0

###**3. 특정 조건에 맞는 row 검색하기**

In [ ]:
doc = pd.read_csv(PATH+'04-01-2020.csv',encoding='utf-8-sig')

In [ ]:
doc[doc['Country_Region']=='US']

         FIPS     Admin2  ... Active                   Combined_Key
0     45001.0  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001.0     Acadia  ...      0          Acadia, Louisiana, US
2     51001.0   Accomack  ...      0         Accomack, Virginia, US
3     16001.0        Ada  ...      0                 Ada, Idaho, US
4     19001.0      Adair  ...      0                Adair, Iowa, US
...       ...        ...  ...    ...                            ...
2246  66000.0        NaN  ...      0                       Guam, US
2273      NaN        NaN  ...      0   ,Northern Mariana Islands,US
2280      NaN        NaN  ...      0                Puerto Rico, US
2285      NaN        NaN  ...      0                  Recovered, US
2302      NaN        NaN  ...      0             ,Virgin Islands,US

[2228 rows x 12 columns]

###**4. 없는 데이터(NaN) 처리하기**
* 없는 데이터가 있는지 확인하기
  * isnull(): 없는 데이터가 있는지 확인(True or False)
  * sum(): 없는 데이터가 있는 행의 개수 확인
  * 통상 isnull().sum()으로 사용

In [ ]:
doc = pd.read_csv(PATH+"01-22-2020.csv",encoding="utf-8-sig")
doc.isnull().sum()

Province/State     3
Country/Region     0
Last Update        0
Confirmed          9
Deaths            37
Recovered         37
dtype: int64

**없는 데이터 삭제하기**
* dropna(): 결측치를 가진 행을 모두 삭제

In [ ]:
doc = pd.read_csv(PATH+"01-22-2020.csv",encoding="utf-8-sig")
doc=doc.dropna()
doc.head()

   Province/State  Country/Region  ... Deaths  Recovered
13          Hubei  Mainland China  ...   17.0       28.0

[1 rows x 6 columns]

**특정 컬럼값이 없는 데이터만 삭제하기**
* subset으로 해당 컬럼을 지정해줌

In [ ]:
doc = pd.read_csv(PATH+"01-22-2020.csv",encoding="utf-8-sig")
doc=doc.dropna(subset=['Confirmed'])
doc.head()

  Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0          Anhui  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
1        Beijing  Mainland China  1/22/2020 17:00       14.0     NaN        NaN
2      Chongqing  Mainland China  1/22/2020 17:00        6.0     NaN        NaN
3         Fujian  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
5      Guangdong  Mainland China  1/22/2020 17:00       26.0     NaN        NaN

**없는 데이터(NaN)을 특정값으로 일괄 변경하기**
* fillna(특정값): 특정값으로 결측치를 대체

In [ ]:
doc=pd.read_csv(PATH+"01-22-2020.csv",encoding='utf-8-sig')
doc=doc.fillna(0)
doc.head()

  Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0          Anhui  Mainland China  1/22/2020 17:00        1.0     0.0        0.0
1        Beijing  Mainland China  1/22/2020 17:00       14.0     0.0        0.0
2      Chongqing  Mainland China  1/22/2020 17:00        6.0     0.0        0.0
3         Fujian  Mainland China  1/22/2020 17:00        1.0     0.0        0.0
4          Gansu  Mainland China  1/22/2020 17:00        0.0     0.0        0.0

**없는 데이터(NaN)을 특정 컬럼에 대해 특정 값으로 일괄 변경하기**
* 별도 사전 데이터를 생성, 없는 데이터를 변경할 컬럼명만 키로 만들고, 변경할 특정 값을 키값으로 넣고, fillna() 함수에 적용해주면 됨

In [ ]:
doc=pd.read_csv(PATH+'01-22-2020.csv',encoding='utf-8-sig')
nan_data = {'Deaths':0, 'Recovered':0}
doc = doc.fillna(nan_data)
doc.head()

  Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0          Anhui  Mainland China  1/22/2020 17:00        1.0     0.0        0.0
1        Beijing  Mainland China  1/22/2020 17:00       14.0     0.0        0.0
2      Chongqing  Mainland China  1/22/2020 17:00        6.0     0.0        0.0
3         Fujian  Mainland China  1/22/2020 17:00        1.0     0.0        0.0
4          Gansu  Mainland China  1/22/2020 17:00        NaN     0.0        0.0

###**5. 특정 키값을 기준으로 데이터 합치기**
* groupby(): SQL 구문의 group by와 동일, 특정 컬럼을 기준으로 그룹
* sum(): 그룹으로 되어 있는 데이터를 합치기

In [ ]:
doc = pd.read_csv(PATH+"04-01-2020.csv",encoding='utf-8-sig')
doc.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...      0  Abbeville, South Carolina, US
1  22001.0     Acadia  ...      0          Acadia, Louisiana, US
2  51001.0   Accomack  ...      0         Accomack, Virginia, US
3  16001.0        Ada  ...      0                 Ada, Idaho, US
4  19001.0      Adair  ...      0                Adair, Iowa, US

[5 rows x 12 columns]

In [ ]:
doc = doc.groupby('Country_Region').sum()
doc.head()

                FIPS       Lat      Long_  Confirmed  Deaths  Recovered  Active
Country_Region
Afghanistan      0.0  33.93911  67.709953        197       4          5     228
Albania          0.0  41.15330  20.168300        259      15         67     177
Algeria          0.0  28.03390   1.659600        847      58         61     728
Andorra          0.0  42.50630   1.521800        390      14         10     366
Angola           0.0 -11.20270  17.873900          8       2          1       5

* groupby에 의해서, index가 Country_Region의 각 구가로 변경됨

In [ ]:
doc.columns

Index(['FIPS', 'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active'], dtype='object')

In [ ]:
doc.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Zambia',
       'Zimbabwe'],
      dtype='object', name='Country_Region', length=181)

* index로 검색해서 US의 합계 검색 가능

In [ ]:
doc[doc.index=='US']

                      FIPS          Lat  ...  Recovered  Active
Country_Region                           ...
US              65168934.0  82956.96013  ...       8474       0

[1 rows x 7 columns]

###**6. 컬럼 타입 변경하기**
* pandas에서 데이터 타입은 dtype으로 불리우며, 주요 데이터 타입은 다음과 같음
  * object는 파이썬의 str 또는 혼용 데이터 타입(문자열)
  * int64는 파이썬의 int(정수)
  * float64는 파이썬의 float(부동소숫점)
  * bool는 파이썬의 bool(True 또는 False 값을 가지는 boolean)

In [ ]:
import pandas as pd
PATH = 'COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'

In [ ]:
doc = pd.read_csv(PATH+"01-22-2020.csv",encoding='utf-8-sig')
doc=doc[['Country/Region','Confirmed']]
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  38 non-null     object
 1   Confirmed       29 non-null     float64
dtypes: float64(1), object(1)
memory usage: 736.0+ bytes

* astype({컬럼명: 변경할타입}): 특정 컬럼의 타입을 변경
  * 변경할 데이터에 없는 데이터(NaN)이 있을 경우, 에러가 날 수 있음
  > Series 데이터일 경우 Series.astype(변경할 타입)으로 쓰면 됨

In [ ]:
doc = pd.read_csv(PATH+"01-22-2020.csv",encoding='utf-8-sig')
doc=doc[{'Country/Region','Confirmed'}] # 필요한 컬럼만 선택하기
doc = doc.dropna(subset=['Confirmed'])  # 특정 컬럼에 없는 데이터 삭제하기
doc = doc.astype({'Confirmed':'int64'}) # 특정 컬럼의 데이터 타입 변경하기
doc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 37
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  29 non-null     object
 1   Confirmed       29 non-null     int64
dtypes: int64(1), object(1)
memory usage: 696.0+ bytes

In [ ]:
doc.head()

   Country/Region  Confirmed
0  Mainland China          1
1  Mainland China         14
2  Mainland China          6
3  Mainland China          1
5  Mainland China         26

###**7. 데이터프레임 컬럼명 변경하기**
* columns로 컬럼명을 변경할 수 있음

In [ ]:
doc = pd.read_csv(PATH+"01-22-2020.csv",encoding='utf-8-sig')
doc = doc[['Country/Region','Confirmed']]   # 필요한 컬럼만 선택하기

In [ ]:
doc.columns

Index(['Country/Region', 'Confirmed'], dtype='object')

In [ ]:
doc.columns = ['Country_Region', 'Confirmed']

In [ ]:
doc.columns

Index(['Country_Region', 'Confirmed'], dtype='object')

###**8. 데이터프레임에서 중복 행 확인/제거하기**
* duplicated(): 중복 행 확인하기

In [ ]:
doc = pd.read_csv("COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv",encoding="utf-8-sig")
doc = doc[['iso2','Country_Region']]
doc

     iso2 Country_Region
0      AF    Afghanistan
1      AL        Albania
2      DZ        Algeria
3      AD        Andorra
4      AO         Angola
...   ...            ...
4166   US             US
4167   US             US
4168   US             US
4169   US             US
4170   US             US

[4171 rows x 2 columns]

In [ ]:
doc.duplicated()    # False: 중복 True: 중복x

0       False
1       False
2       False
3       False
4       False
        ...
4166     True
4167     True
4168     True
4169     True
4170     True
Length: 4171, dtype: bool

* 중복된 행만 확인하기

In [ ]:
doc[doc.duplicated()]

     iso2 Country_Region
16     BE        Belgium
17     BE        Belgium
18     BE        Belgium
19     BE        Belgium
20     BE        Belgium
...   ...            ...
4166   US             US
4167   US             US
4168   US             US
4169   US             US
4170   US             US

[3946 rows x 2 columns]

* drop_duplicated(): 중복 행 삭제중복값
  * 특정 컬럼을 기준으로 중복 행 제거하기
    * subset=특정컬럼
  * 중복된 경우, 처음과 마지막 행 중 어느 행을 남길 것인지 결정하기
    * 처음: keep='first'(디폴트)
    * 처음: keep='last'

In [ ]:
doc = doc.drop_duplicates(subset='Country_Region',keep='last')
doc

     iso2 Country_Region
0      AF    Afghanistan
1      AL        Albania
2      DZ        Algeria
3      AD        Andorra
4      AO         Angola
...   ...            ...
706    ZW       Zimbabwe
715    AU      Australia
732    CA         Canada
766    MO          China
4170   US             US

[192 rows x 2 columns]