<a href="https://colab.research.google.com/github/yooste/SOLUX_COVID_19/blob/main/python_data_analysis/08_pandas_real_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **raw data를 pandas와 파이썬으로 조작해서 그래프 만들어보기**

###**1. 데이터 시각화란?**
* 데이터 분석 결과를 쉽게 이해할 수 있도록 시각적으로 표현하고 전달되는 과정
* 탐색적 데이터 분석, 데이터 처리, 데이터 예측 모든 경우, 결과를 알아보기 쉽게 하기 위해 데이터 시각화는 필수적임
* 다양한 시각화 기법 중, 가장 최신의 흥미로운 데이터 시각화 과정을 진행해보기로 함
  * https://app.flourish.studio

###**2. 데이터 시각화를 위한 데이터 포멧 이해**
* 데이터 시각화를 위해, raw data를 변환해야 함
* 지금까지 익힌 데이터 처리 기술을 사용해서, 데이터를 변환하기로 함
* 필요 데이터
  * 국가명, 국기, 날짜별 확진자 수

###**3. raw data 가져오기**

In [1]:
import pandas as pd
PATH = "COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"
doc = pd.read_csv(PATH + "04-01-2020.csv", encoding="utf-8-sig")
doc.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...      0  Abbeville, South Carolina, US
1  22001.0     Acadia  ...      0          Acadia, Louisiana, US
2  51001.0   Accomack  ...      0         Accomack, Virginia, US
3  16001.0        Ada  ...      0                 Ada, Idaho, US
4  19001.0      Adair  ...      0                Adair, Iowa, US

[5 rows x 12 columns]

In [2]:
doc = pd.read_csv(PATH + "03-01-2020.csv", encoding="utf-8-sig")
doc.head()

  Province/State  Country/Region  ... Latitude  Longitude
0          Hubei  Mainland China  ...  30.9756   112.2707
1            NaN     South Korea  ...  36.0000   128.0000
2            NaN           Italy  ...  43.0000    12.0000
3      Guangdong  Mainland China  ...  23.3417   113.4244
4          Henan  Mainland China  ...  33.8820   113.6140

[5 rows x 8 columns]

* 3월 중순 데이터까지는 컬럼명이 Province/State, Country/Region 이고, 이후에는 Province_State, Country_Region이므로, try except 구문을 사용해서, 데이터 조작

In [3]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding="utf-8-sig")
try:
  doc = doc[['Province_State','Country_Region','Confirmed']]  # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
except:
  doc = doc[['Province/State','Country/Region','Confirmed']]  # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
  doc.columns = ['Province_State','Country_Region','Confirmed']

doc.head()

  Province_State  Country_Region  Confirmed
0          Anhui  Mainland China        1.0
1        Beijing  Mainland China       14.0
2      Chongqing  Mainland China        6.0
3         Fujian  Mainland China        1.0
4          Gansu  Mainland China        NaN

###**4. 데이터프레임 데이터 변환하기**
1. 특정 컬럼만 선택해서 데이터프레임 만들기
2. 특정 컬럼에 없는 데이터 삭제하기
3. 특정 컬럼의 데이터 타입 변경하기

In [4]:
doc = pd.read_csv(PATH + "01-22-2020.csv", encoding="utf-8-sig")
try:
  doc = doc[['Province_State','Country_Region','Confirmed']]    # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
except:
  doc = doc[['Province/State','Country/Region','Confirmed']]    # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
  doc.columns = ['Province_State','Country_Region','Confirmed']
doc = doc.dropna(subset=['Confirmed'])    # 2. 특정 컬럼에 없는 데이터 삭제하기
doc = doc.astype({'Confirmed':'int64'})   # 3. 특정 컬럼의 데이터 타입 변경하기
# 삭제를 먼저 한 후에 데이터타입을 변경해야 에러가 나지 않는다.
doc.head()

  Province_State  Country_Region  Confirmed
0          Anhui  Mainland China          1
1        Beijing  Mainland China         14
2      Chongqing  Mainland China          6
3         Fujian  Mainland China          1
5      Guangdong  Mainland China         26

* 국가 정보 가져오기

In [5]:
country_info = pd.read_csv("COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv",encoding="utf-8-sig")
country_info.head()

   UID iso2 iso3  code3  ...       Lat      Long_ Combined_Key  Population
0    4   AF  AFG    4.0  ...  33.93911  67.709953  Afghanistan  38928341.0
1    8   AL  ALB    8.0  ...  41.15330  20.168300      Albania   2877800.0
2   12   DZ  DZA   12.0  ...  28.03390   1.659600      Algeria  43851043.0
3   20   AD  AND   20.0  ...  42.50630   1.521800      Andorra     77265.0
4   24   AO  AGO   24.0  ... -11.20270  17.873900       Angola  32866268.0

[5 rows x 12 columns]

* 두 데이터프레임 합쳐보기

In [6]:
test_df = pd.merge(doc, country_info, how='left', on='Country_Region')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3481 entries, 0 to 3480
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Province_State_x  3429 non-null   object
 1   Country_Region    3481 non-null   object
 2   Confirmed         3481 non-null   int64
 3   UID               3455 non-null   float64
 4   iso2              3455 non-null   object
 5   iso3              3455 non-null   object
 6   code3             3455 non-null   float64
 7   FIPS              3382 non-null   float64
 8   Admin2            3341 non-null   object
 9   Province_State_y  3452 non-null   object
 10  Lat               3334 non-null   float64
 11  Long_             3334 non-null   float64
 12  Combined_Key      3455 non-null   object
 13  Population        3334 non-null   float64
dtypes: float64(6), int64(1), object(7)
memory usage: 407.9+ KB

* 잘못 매칭된 국가 정보 확인하기
  * iso2 컬럼이 매칭되지 ㅇ낳은 확진자 수 국가 확인해보기

In [7]:
test_df.isnull().sum()

Province_State_x     52
Country_Region        0
Confirmed             0
UID                  26
iso2                 26
iso3                 26
code3                26
FIPS                 99
Admin2              140
Province_State_y     29
Lat                 147
Long_               147
Combined_Key         26
Population          147
dtype: int64

In [8]:
nan_rows = test_df[test_df['iso2'].isnull()]
nan_rows.head()

  Province_State_x  Country_Region  Confirmed  ...  Long_ Combined_Key Population
0            Anhui  Mainland China          1  ...    NaN          NaN        NaN
1          Beijing  Mainland China         14  ...    NaN          NaN        NaN
2        Chongqing  Mainland China          6  ...    NaN          NaN        NaN
3           Fujian  Mainland China          1  ...    NaN          NaN        NaN
4        Guangdong  Mainland China         26  ...    NaN          NaN        NaN

[5 rows x 14 columns]

**컬럼값 변경하기**
* Country_Region 국가명이 다양한 경우가 많음
* 각 케이스를 일괄적으로 변경할 키값이 존재하지 않고, 키가 될 수 있는 컬럼도 다양하고, 각 파일마다 키가 될 수 있는 컬럼이 변경되어, 키값으로 매칭이 불가하였음
* 이에 각 케이스를 직접 확인해서, 국가명을 일관되게 변경할 수 있도록 별도 json 파일 작성
* json 파일 기반으로 국가명을 일관되게 변경하기로 함

json.load() 함수로 파일로된 json 데이터를 사전처럼 다룰 수 있음

In [9]:
import json

with open('COVID-19-master/csse_covid_19_data/country_convert.json','r',encoding='utf-8-sig') as json_file:
  json_data = json.load(json_file)
  print(json_data.keys())

dict_keys(['Mainland China', 'Macau', 'South Korea', 'Aruba', ' Azerbaijan', 'Bahamas, The', 'Cape Verde', 'Cayman Islands', 'Channel Islands', 'Curacao', 'Czech Republic', 'East Timor', 'Faroe Islands', 'French Guiana', 'Gambia, The', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Hong Kong', 'Hong Kong SAR', 'Iran (Islamic Republic of)', 'Ivory Coast', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'North Ireland', 'Palestine', 'Puerto Rico', 'Republic of Ireland', 'Republic of Korea', 'Republic of Moldova', 'Republic of the Congo', 'Reunion', 'Russian Federation', 'Saint Barthelemy', 'Saint Martin', 'St. Martin', 'Taipei and environs', 'The Bahamas', 'The Gambia', 'UK', 'Vatican City', 'Viet Nam', 'occupied Palestinian territory', 'Taiwan*', 'Malawi', 'South Sudan', 'Western Sahara', 'Namibia'])

**apply() 함수 사용법**
* apply() 함수를 사용해서, 특정 컬럼값 변경 가능

In [10]:
df = pd.DataFrame({
    '영어':[60,70],
    '수학':[100,50]
}, index=['Dave','David'])
df

       영어   수학
Dave   60  100
David  70   50

In [11]:
def func(df_data):
  print(type(df_data))
  print(df_data.index)
  print(df_data.values)
  return df_data



> 참고로 행이 두 개인데, 3번 func가 호출되는 이유는 apply() 함수 자체가, 첫번째 행에 대해서는 두 번 호출하도록 구현되어 있기 때문임(전체 행의 처리를 위한 최적화 기법 적용 가능 여부를 확인코자 이와 같이 구현됨)

In [12]:
df_func = df.apply(func, axis=0)    # axis=0(default): 각각의 열이 인자로 들어온다

<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[60 70]
<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[100  50]

In [13]:
df_func = df.apply(func, axis=1)

<class 'pandas.core.series.Series'>
Index(['영어', '수학'], dtype='object')
[ 60 100]
<class 'pandas.core.series.Series'>
Index(['영어', '수학'], dtype='object')
[70 50]

In [14]:
df = pd.DataFrame({
    '영어':[60,70],
    '수학':[100,50]
}, index = ['Dave','David'])
df

       영어   수학
Dave   60  100
David  70   50

In [15]:
def func(df_data):
  df_data['영어']=80
  return df_data

In [16]:
df_func = df.apply(func, axis=1)

In [17]:
df_func

       영어   수학
Dave   80  100
David  80   50

###**apply() 함수를 사용해서, 국가 컬럼값 변경하기**

* 사전 작업 (doc 변수로 데이터프레임 파일 만들기)

In [18]:
import pandas as pd

doc = pd.read_csv(PATH + '01-22-2020.csv',encoding='utf-8-sig')
try:
  doc = doc[['Province_State','Country_Region','Confirmed']]    # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
except:
  doc = doc[['Province/State','Country/Region','Confirmed']]    # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
  doc.columns = ['Province_State','Country_Region','Confirmed']
doc = doc.dropna(subset=['Confirmed'])  # 2. 특정 컬럼에 없는 데이터 삭제하기
doc = doc.astype({'Confirmed':'int64'}) # 3. 특정 컬럼의 데이터 타입 변경하기
doc.head()

  Province_State  Country_Region  Confirmed
0          Anhui  Mainland China          1
1        Beijing  Mainland China         14
2      Chongqing  Mainland China          6
3         Fujian  Mainland China          1
5      Guangdong  Mainland China         26

* 변경할 국가명을 가지고 있는 json 파일 읽기

In [19]:
import json

with open('COVID-19-master/csse_covid_19_data/country_convert.json','r',encoding='utf-8-sig') as json_file:
  json_data = json.load(json_file)
  print(json_data.keys())

dict_keys(['Mainland China', 'Macau', 'South Korea', 'Aruba', ' Azerbaijan', 'Bahamas, The', 'Cape Verde', 'Cayman Islands', 'Channel Islands', 'Curacao', 'Czech Republic', 'East Timor', 'Faroe Islands', 'French Guiana', 'Gambia, The', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Hong Kong', 'Hong Kong SAR', 'Iran (Islamic Republic of)', 'Ivory Coast', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'North Ireland', 'Palestine', 'Puerto Rico', 'Republic of Ireland', 'Republic of Korea', 'Republic of Moldova', 'Republic of the Congo', 'Reunion', 'Russian Federation', 'Saint Barthelemy', 'Saint Martin', 'St. Martin', 'Taipei and environs', 'The Bahamas', 'The Gambia', 'UK', 'Vatican City', 'Viet Nam', 'occupied Palestinian territory', 'Taiwan*', 'Malawi', 'South Sudan', 'Western Sahara', 'Namibia'])

* Country_Region 이라는 컬럼값을 확인해서, 국가명이 다르게 기재되어 있을 경우에만, 지정한 국가명으로 변경

In [20]:
def func(row):
  if row['Country_Region'] in json_data:
    row['Country_Region'] = json_data[row['Country_Region']]
  return row

In [21]:
doc = doc.apply(func, axis=1)
doc.head()

  Province_State Country_Region  Confirmed
0          Anhui          China          1
1        Beijing          China         14
2      Chongqing          China          6
3         Fujian          China          1
5      Guangdong          China         26

**참고: 파일명으로 데이터 변환하기**

* lstrip(): 앞에(왼쪽에)서 특정 데이터 삭제하기, rstrip(): 뒤에(오른쪽에)서 특정 데이터 삭제하기
* replace(변경전데이터, 변경후데이터): 문자열에서 변경전데이터를 변경후데이터로 변경

In [24]:
data = '01-22-2020.csv'
date_column = data.split('.')[0].lstrip('0').replace('-','/')

In [25]:
doc.columns

Index(['Province_State', 'Country_Region', 'Confirmed'], dtype='object')

In [26]:
doc.columns = ['Province_State','Country_Region',date_column]
doc.columns

Index(['Province_State', 'Country_Region', '1/22/2020'], dtype='object')

In [27]:
doc.head()

  Province_State Country_Region  1/22/2020
0          Anhui          China          1
1        Beijing          China         14
2      Chongqing          China          6
3         Fujian          China          1
5      Guangdong          China         26

###**5. 중복 데이터 합치기**
* groupby(): 그룹별로 데이터를 집계하는 함수
  * 동일한 컬럼값으로 묶어서 통계 또는 평균등을 확인할 수 있음

In [29]:
df = pd.DataFrame({
    '성별':['남','남','남'],
    '이름':['David','Dave','Dave'],
    '수학':[100,50,80],
    '국어':[80,70,50]
})
df

  성별     이름   수학  국어
0  남  David  100  80
1  남   Dave   50  70
2  남   Dave   80  50

* groupby()로 묶은 경우 숫자가 아닌 값으로 된 열은 없어진다.('성별' 열이 없어진 것을 확인할 수 있다.)
* groupby()로 한 컬럼은 결과 데이터프레임의 인덱스가 된다.

In [30]:
df.groupby('이름').mean()

        수학  국어
이름
Dave    65  60
David  100  80

In [31]:
df.groupby('이름').sum()

        수학   국어
이름
Dave   130  120
David  100   80

* 국가별 총 확진자수 구하기

In [32]:
import pandas as pd

doc = pd.read_csv(PATH + '01-22-2020.csv',encoding='utf-8-sig')
try:
  doc = doc[['Province_State','Country_Region','Confirmed']]    # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
except:
  doc = doc[['Province/State','Country/Region','Confirmed']]    # 1. 특정 컬럼만 선택해서 데이터프레임 만들기
  doc.columns = ['Province_State','Country_Region','Confirmed']
doc = doc.dropna(subset=['Confirmed'])  # 2. 특정 컬럼에 없는 데이터 삭제하기
doc = doc.astype({'Confirmed':'int64'}) # 3. 특정 컬럼의 데이터 타입 변경하기
doc.head()

  Province_State  Country_Region  Confirmed
0          Anhui  Mainland China          1
1        Beijing  Mainland China         14
2      Chongqing  Mainland China          6
3         Fujian  Mainland China          1
5      Guangdong  Mainland China         26

In [33]:
doc.groupby('Country_Region').sum()   # 4. Country_Region 컬럼값이 동일한 케이스를 그룹화해서, 각 그룹별 합계 확인하기

                Confirmed
Country_Region
Japan                   2
Macau                   1
Mainland China        547
South Korea             1
Taiwan                  1
Thailand                2
US                      1

###**6. 데이터 전처리하기**
* 지금까지의 과정을 모두 한 데 모아서, 함수로 만들기
  1. csv 파일 읽기
  2. 'Country_Region','Confirmed' 두 개의 컬럼만 가져오기
  3. 'Confirmed'에 데이터가 없는 행 삭제하기
  4. 'Country_Region'의 국가명을 여러 파일에 일관되게 변경하기
  5. 'Confirmed' 데이터 타입을 int64(정수)로 변경
  6. 'Country_Region'를 기준으로 중복된 데이터를 합치기
  7. 파일명을 기반으로 날짜 문자열 변환하고, 'Confirmed' 컬럼명 변경하기

In [36]:
import json

with open('COVID-19-master/csse_covid_19_data/country_convert.json','r',encoding='utf-8-sig') as json_file:
  json_data = json.load(json_file)

def country_name_convert(row):
  if row['Country_Region'] in json_data:
    return json_data[row['Country_Region']]
  return row['Country_Region']

def create_dateframe(filename):

  doc = pd.read_csv(PATH + filename, encoding='utf-8-sig')  # 1. csv  파일 읽기
  try:
    doc = doc[['Country_Region','Confirmed']]   # 2. 특정 컬럼만 선택해서 데이터프레임 만들기
  except:
    doc = doc[['Country/Region','Confirmed']]   # 2. 특정 컬럼만 선택해서 데이터프레임 만들기
    doc.columns = ['Country_Region','Confirmed']
  doc = doc.dropna(subset=['Confirmed'])        # 3. 특정 컬럼에 없는 데이터 삭제하기
  doc['Country_Region'] = doc.apply(country_name_convert, axis=1)   # 4. 'Country_Region'의 국가명을 여러 파일에 일관되게 변경
  doc = doc.astype({'Confirmed':'int64'})       # 5. 특정 컬럼의 데이터 타입 변경하기
  doc = doc.groupby('Country_Region').sum()     # 6. 특정 컬럼으로 중복된 데이터를 합치기

  # 7. 파일명을 기반으로 날짜 문자열 변환하고, 'Confirmed' 컬럼명 변경하기
  date_column = filename.split('.')[0].lstrip('0').replace('-','/')
  doc.columns = [date_column]
  return doc

**테스트해보기**

In [37]:
doc1 = create_dateframe('01-22-2020.csv')
doc2 = create_dateframe('04-01-2020.csv')

In [38]:
 doc2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181 entries, Afghanistan to Zimbabwe
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   4/01/2020  181 non-null    int64
dtypes: int64(1)
memory usage: 2.8+ KB

In [39]:
doc2.head()

                4/01/2020
Country_Region
Afghanistan           197
Albania               259
Algeria               847
Andorra               390
Angola                  8

**데이터프레임 합치기**

In [40]:
doc = pd.merge(doc1, doc2, how='outer',left_index=True, right_index=True)
doc.head()

                1/22/2020  4/01/2020
Country_Region
Afghanistan           NaN        197
Albania               NaN        259
Algeria               NaN        847
Andorra               NaN        390
Angola                NaN          8

**없는 데이터는 0으로 값 대체하기**

In [41]:
doc = doc.fillna(0)
doc

                    1/22/2020  4/01/2020
Country_Region
Afghanistan               0.0        197
Albania                   0.0        259
Algeria                   0.0        847
Andorra                   0.0        390
Angola                    0.0          8
...                       ...        ...
Venezuela                 0.0        143
Vietnam                   0.0        218
West Bank and Gaza        0.0        134
Zambia                    0.0         36
Zimbabwe                  0.0          8

[181 rows x 2 columns]

**참고: 특정 폴더 파일 리스트 확인하기**
* split() 함수를 사용해서 특정 확장자를 가진 파일 리스트만 추출 가능
* 문자열변수.split('.')은 ['파일명', '확장자']와 같은 리스트가 반환되므로, 문자열변수.split('.')[-1]을 통해, 이 중에서 마지막 아이템을 선택하면 됨

In [42]:
import os

PATH = "COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"
file_list, csv_list = os.listdir(PATH), list()
# os.listdir(PATH) : 해당 폴더에 있는 파일 이름을 리스트 형태로 가지고 올 수 있음

for file in file_list:
  if file.split('.')[-1] == 'csv':
    csv_list.append(file)

print(csv_list)

['12-28-2020.csv', '01-27-2020.csv', '04-26-2020.csv', '09-18-2020.csv', '08-18-2020.csv', '11-03-2020.csv', '03-10-2020.csv', '12-12-2020.csv', '11-25-2020.csv', '07-20-2020.csv', '10-21-2020.csv', '09-02-2020.csv', '09-20-2020.csv', '10-22-2020.csv', '02-08-2020.csv', '11-24-2020.csv', '07-05-2020.csv', '09-28-2020.csv', '09-09-2020.csv', '12-13-2020.csv', '03-22-2020.csv', '12-07-2020.csv', '11-18-2020.csv', '02-20-2020.csv', '11-06-2020.csv', '02-17-2020.csv', '06-06-2020.csv', '06-26-2020.csv', '03-20-2020.csv', '09-30-2020.csv', '04-23-2020.csv', '07-26-2020.csv', '10-13-2020.csv', '12-31-2020.csv', '02-28-2020.csv', '08-25-2020.csv', '05-24-2020.csv', '06-20-2020.csv', '12-27-2020.csv', '04-22-2020.csv', '09-14-2020.csv', '03-23-2020.csv', '08-09-2020.csv', '10-14-2020.csv', '11-23-2020.csv', '09-12-2020.csv', '12-10-2020.csv', '09-24-2020.csv', '07-31-2020.csv', '06-14-2020.csv', '04-12-2020.csv', '09-10-2020.csv', '07-28-2020.csv', '11-16-2020.csv', '10-09-2020.csv', '06-04-2020.csv', '03-30-2020.csv', '12-22-2020.csv', '06-18-2020.csv', '05-02-2020.csv', '10-07-2020.csv', '06-30-2020.csv', '10-16-2020.csv', '02-15-2020.csv', '07-25-2020.csv', '10-05-2020.csv', '06-28-2020.csv', '09-01-2020.csv', '02-12-2020.csv', '01-26-2020.csv', '02-27-2020.csv', '03-12-2020.csv', '04-28-2020.csv', '07-18-2020.csv', '10-15-2020.csv', '08-20-2020.csv', '05-10-2020.csv', '03-11-2020.csv', '11-01-2020.csv', '10-31-2020.csv', '10-02-2020.csv', '11-26-2020.csv', '12-15-2020.csv', '04-03-2020.csv', '12-16-2020.csv', '05-26-2020.csv', '04-15-2020.csv', '06-19-2020.csv', '12-21-2020.csv', '10-19-2020.csv', '04-11-2020.csv', '06-24-2020.csv', '08-15-2020.csv', '07-22-2020.csv', '11-13-2020.csv', '03-17-2020.csv', '10-18-2020.csv', '07-09-2020.csv', '02-22-2020.csv', '02-21-2020.csv', '02-16-2020.csv', '12-24-2020.csv', '11-14-2020.csv', '04-01-2020.csv', '02-19-2020.csv', '04-13-2020.csv', '05-22-2020.csv', '10-06-2020.csv', '02-07-2020.csv', '09-19-2020.csv', '10-28-2020.csv', '08-29-2020.csv', '03-03-2020.csv', '06-17-2020.csv', '05-17-2020.csv', '07-21-2020.csv', '07-13-2020.csv', '07-27-2020.csv', '04-14-2020.csv', '03-02-2020.csv', '09-04-2020.csv', '05-12-2020.csv', '05-28-2020.csv', '05-15-2020.csv', '08-31-2020.csv', '01-29-2020.csv', '11-20-2020.csv', '12-01-2020.csv', '11-12-2020.csv', '08-16-2020.csv', '11-30-2020.csv', '02-04-2020.csv', '11-02-2020.csv', '12-05-2020.csv', '08-23-2020.csv', '06-15-2020.csv', '08-10-2020.csv', '09-17-2020.csv', '06-07-2020.csv', '04-20-2020.csv', '10-10-2020.csv', '12-17-2020.csv', '12-06-2020.csv', '09-13-2020.csv', '07-24-2020.csv', '03-21-2020.csv', '12-25-2020.csv', '08-01-2020.csv', '05-14-2020.csv', '12-20-2020.csv', '08-12-2020.csv', '02-13-2020.csv', '09-29-2020.csv', '11-28-2020.csv', '07-11-2020.csv', '05-11-2020.csv', '08-04-2020.csv', '03-14-2020.csv', '06-12-2020.csv', '04-24-2020.csv', '08-13-2020.csv', '11-05-2020.csv', '09-07-2020.csv', '08-07-2020.csv', '04-08-2020.csv', '05-20-2020.csv', '06-16-2020.csv', '12-04-2020.csv', '08-08-2020.csv', '03-06-2020.csv', '04-09-2020.csv', '07-07-2020.csv', '11-17-2020.csv', '04-10-2020.csv', '05-04-2020.csv', '07-23-2020.csv', '12-11-2020.csv', '03-08-2020.csv', '08-28-2020.csv', '05-19-2020.csv', '06-01-2020.csv', '02-29-2020.csv', '05-23-2020.csv', '06-08-2020.csv', '02-09-2020.csv', '05-21-2020.csv', '08-05-2020.csv', '05-27-2020.csv', '05-01-2020.csv', '08-02-2020.csv', '01-28-2020.csv', '10-03-2020.csv', '07-14-2020.csv', '02-05-2020.csv', '10-04-2020.csv', '05-03-2020.csv', '03-07-2020.csv', '09-21-2020.csv', '10-23-2020.csv', '03-04-2020.csv', '05-31-2020.csv', '03-13-2020.csv', '12-19-2020.csv', '10-26-2020.csv', '11-11-2020.csv', '06-27-2020.csv', '06-03-2020.csv', '04-06-2020.csv', '12-29-2020.csv', '11-15-2020.csv', '02-11-2020.csv', '06-22-2020.csv', '08-21-2020.csv', '07-01-2020.csv', '03-28-2020.csv', '09-22-2020.csv', '12-03-2020.csv', '06-21-2020.csv', '06-02-2020.csv', '07-06-2020.csv', '08-19-2020.csv', '02-02-2020.csv', '12-02-2020.csv', '03-16-2020.csv', '06-25-2020.csv', '04-21-2020.csv', '05-29-2020.csv', '05-30-2020.csv', '09-26-2020.csv', '04-30-2020.csv', '02-25-2020.csv', '04-17-2020.csv', '02-24-2020.csv', '10-12-2020.csv', '04-04-2020.csv', '04-18-2020.csv', '03-31-2020.csv', '10-08-2020.csv', '08-26-2020.csv', '10-24-2020.csv', '06-13-2020.csv', '04-07-2020.csv', '10-29-2020.csv', '04-16-2020.csv', '10-25-2020.csv', '08-27-2020.csv', '09-16-2020.csv', '11-04-2020.csv', '03-29-2020.csv', '11-21-2020.csv', '07-19-2020.csv', '08-11-2020.csv', '03-27-2020.csv', '07-04-2020.csv', '11-19-2020.csv', '07-03-2020.csv', '02-06-2020.csv', '06-09-2020.csv', '01-31-2020.csv', '07-17-2020.csv', '05-05-2020.csv', '03-15-2020.csv', '03-24-2020.csv', '02-14-2020.csv', '12-09-2020.csv', '09-05-2020.csv', '05-06-2020.csv', '11-08-2020.csv', '11-27-2020.csv', '04-29-2020.csv', '09-11-2020.csv', '07-30-2020.csv', '12-18-2020.csv', '01-25-2020.csv', '04-19-2020.csv', '05-13-2020.csv', '09-27-2020.csv', '10-11-2020.csv', '11-09-2020.csv', '10-27-2020.csv', '12-14-2020.csv', '02-01-2020.csv', '11-29-2020.csv', '07-02-2020.csv', '02-10-2020.csv', '10-20-2020.csv', '05-07-2020.csv', '03-26-2020.csv', '01-23-2020.csv', '08-14-2020.csv', '07-08-2020.csv', '02-03-2020.csv', '05-09-2020.csv', '12-23-2020.csv', '09-06-2020.csv', '02-23-2020.csv', '07-10-2020.csv', '01-30-2020.csv', '09-08-2020.csv', '10-30-2020.csv', '04-02-2020.csv', '11-22-2020.csv', '11-10-2020.csv', '07-15-2020.csv', '08-06-2020.csv', '02-18-2020.csv', '08-24-2020.csv', '03-19-2020.csv', '06-29-2020.csv', '12-08-2020.csv', '01-24-2020.csv', '03-05-2020.csv', '05-25-2020.csv', '09-03-2020.csv', '03-09-2020.csv', '06-05-2020.csv', '09-15-2020.csv', '03-18-2020.csv', '05-18-2020.csv', '07-12-2020.csv', '04-05-2020.csv', '10-17-2020.csv', '04-25-2020.csv', '11-07-2020.csv', '07-29-2020.csv', '01-22-2020.csv', '03-25-2020.csv', '08-22-2020.csv', '05-16-2020.csv', '02-26-2020.csv', '09-23-2020.csv', '07-16-2020.csv', '03-01-2020.csv', '06-11-2020.csv', '06-23-2020.csv', '09-25-2020.csv', '12-26-2020.csv', '08-03-2020.csv', '05-08-2020.csv', '08-17-2020.csv', '08-30-2020.csv', '04-27-2020.csv', '10-01-2020.csv', '06-10-2020.csv', '12-30-2020.csv']

**참고: 리스트 정렬**
* 리스트변수.sort(): 오름차순 정렬(디폴트)
* 리스트변수.sort(reverse=True): 내림차순 정렬

In [44]:
csv_list.sort()
csv_list

['01-22-2020.csv',
 '01-23-2020.csv',
 '01-24-2020.csv',
 '01-25-2020.csv',
 '01-26-2020.csv',
 '01-27-2020.csv',
 '01-28-2020.csv',
 '01-29-2020.csv',
 '01-30-2020.csv',
 '01-31-2020.csv',
 '02-01-2020.csv',
 '02-02-2020.csv',
 '02-03-2020.csv',
 '02-04-2020.csv',
 '02-05-2020.csv',
 '02-06-2020.csv',
 '02-07-2020.csv',
 '02-08-2020.csv',
 '02-09-2020.csv',
 '02-10-2020.csv',
 '02-11-2020.csv',
 '02-12-2020.csv',
 '02-13-2020.csv',
 '02-14-2020.csv',
 '02-15-2020.csv',
 '02-16-2020.csv',
 '02-17-2020.csv',
 '02-18-2020.csv',
 '02-19-2020.csv',
 '02-20-2020.csv',
 '02-21-2020.csv',
 '02-22-2020.csv',
 '02-23-2020.csv',
 '02-24-2020.csv',
 '02-25-2020.csv',
 '02-26-2020.csv',
 '02-27-2020.csv',
 '02-28-2020.csv',
 '02-29-2020.csv',
 '03-01-2020.csv',
 '03-02-2020.csv',
 '03-03-2020.csv',
 '03-04-2020.csv',
 '03-05-2020.csv',
 '03-06-2020.csv',
 '03-07-2020.csv',
 '03-08-2020.csv',
 '03-09-2020.csv',
 '03-10-2020.csv',
 '03-11-2020.csv',
 '03-12-2020.csv',
 '03-13-2020.csv',
 '03-14-2020.csv',
 '03-15-2020.csv',
 '03-16-2020.csv',
 '03-17-2020.csv',
 '03-18-2020.csv',
 '03-19-2020.csv',
 '03-20-2020.csv',
 '03-21-2020.csv',
 '03-22-2020.csv',
 '03-23-2020.csv',
 '03-24-2020.csv',
 '03-25-2020.csv',
 '03-26-2020.csv',
 '03-27-2020.csv',
 '03-28-2020.csv',
 '03-29-2020.csv',
 '03-30-2020.csv',
 '03-31-2020.csv',
 '04-01-2020.csv',
 '04-02-2020.csv',
 '04-03-2020.csv',
 '04-04-2020.csv',
 '04-05-2020.csv',
 '04-06-2020.csv',
 '04-07-2020.csv',
 '04-08-2020.csv',
 '04-09-2020.csv',
 '04-10-2020.csv',
 '04-11-2020.csv',
 '04-12-2020.csv',
 '04-13-2020.csv',
 '04-14-2020.csv',
 '04-15-2020.csv',
 '04-16-2020.csv',
 '04-17-2020.csv',
 '04-18-2020.csv',
 '04-19-2020.csv',
 '04-20-2020.csv',
 '04-21-2020.csv',
 '04-22-2020.csv',
 '04-23-2020.csv',
 '04-24-2020.csv',
 '04-25-2020.csv',
 '04-26-2020.csv',
 '04-27-2020.csv',
 '04-28-2020.csv',
 '04-29-2020.csv',
 '04-30-2020.csv',
 '05-01-2020.csv',
 '05-02-2020.csv',
 '05-03-2020.csv',
 '05-04-2020.csv',
 '05-05-2020.csv',
 '05-06-2020.csv',
 '05-07-2020.csv',
 '05-08-2020.csv',
 '05-09-2020.csv',
 '05-10-2020.csv',
 '05-11-2020.csv',
 '05-12-2020.csv',
 '05-13-2020.csv',
 '05-14-2020.csv',
 '05-15-2020.csv',
 '05-16-2020.csv',
 '05-17-2020.csv',
 '05-18-2020.csv',
 '05-19-2020.csv',
 '05-20-2020.csv',
 '05-21-2020.csv',
 '05-22-2020.csv',
 '05-23-2020.csv',
 '05-24-2020.csv',
 '05-25-2020.csv',
 '05-26-2020.csv',
 '05-27-2020.csv',
 '05-28-2020.csv',
 '05-29-2020.csv',
 '05-30-2020.csv',
 '05-31-2020.csv',
 '06-01-2020.csv',
 '06-02-2020.csv',
 '06-03-2020.csv',
 '06-04-2020.csv',
 '06-05-2020.csv',
 '06-06-2020.csv',
 '06-07-2020.csv',
 '06-08-2020.csv',
 '06-09-2020.csv',
 '06-10-2020.csv',
 '06-11-2020.csv',
 '06-12-2020.csv',
 '06-13-2020.csv',
 '06-14-2020.csv',
 '06-15-2020.csv',
 '06-16-2020.csv',
 '06-17-2020.csv',
 '06-18-2020.csv',
 '06-19-2020.csv',
 '06-20-2020.csv',
 '06-21-2020.csv',
 '06-22-2020.csv',
 '06-23-2020.csv',
 '06-24-2020.csv',
 '06-25-2020.csv',
 '06-26-2020.csv',
 '06-27-2020.csv',
 '06-28-2020.csv',
 '06-29-2020.csv',
 '06-30-2020.csv',
 '07-01-2020.csv',
 '07-02-2020.csv',
 '07-03-2020.csv',
 '07-04-2020.csv',
 '07-05-2020.csv',
 '07-06-2020.csv',
 '07-07-2020.csv',
 '07-08-2020.csv',
 '07-09-2020.csv',
 '07-10-2020.csv',
 '07-11-2020.csv',
 '07-12-2020.csv',
 '07-13-2020.csv',
 '07-14-2020.csv',
 '07-15-2020.csv',
 '07-16-2020.csv',
 '07-17-2020.csv',
 '07-18-2020.csv',
 '07-19-2020.csv',
 '07-20-2020.csv',
 '07-21-2020.csv',
 '07-22-2020.csv',
 '07-23-2020.csv',
 '07-24-2020.csv',
 '07-25-2020.csv',
 '07-26-2020.csv',
 '07-27-2020.csv',
 '07-28-2020.csv',
 '07-29-2020.csv',
 '07-30-2020.csv',
 '07-31-2020.csv',
 '08-01-2020.csv',
 '08-02-2020.csv',
 '08-03-2020.csv',
 '08-04-2020.csv',
 '08-05-2020.csv',
 '08-06-2020.csv',
 '08-07-2020.csv',
 '08-08-2020.csv',
 '08-09-2020.csv',
 '08-10-2020.csv',
 '08-11-2020.csv',
 '08-12-2020.csv',
 '08-13-2020.csv',
 '08-14-2020.csv',
 '08-15-2020.csv',
 '08-16-2020.csv',
 '08-17-2020.csv',
 '08-18-2020.csv',
 '08-19-2020.csv',
 '08-20-2020.csv',
 '08-21-2020.csv',
 '08-22-2020.csv',
 '08-23-2020.csv',
 '08-24-2020.csv',
 '08-25-2020.csv',
 '08-26-2020.csv',
 '08-27-2020.csv',
 '08-28-2020.csv',
 '08-29-2020.csv',
 '08-30-2020.csv',
 '08-31-2020.csv',
 '09-01-2020.csv',
 '09-02-2020.csv',
 '09-03-2020.csv',
 '09-04-2020.csv',
 '09-05-2020.csv',
 '09-06-2020.csv',
 '09-07-2020.csv',
 '09-08-2020.csv',
 '09-09-2020.csv',
 '09-10-2020.csv',
 '09-11-2020.csv',
 '09-12-2020.csv',
 '09-13-2020.csv',
 '09-14-2020.csv',
 '09-15-2020.csv',
 '09-16-2020.csv',
 '09-17-2020.csv',
 '09-18-2020.csv',
 '09-19-2020.csv',
 '09-20-2020.csv',
 '09-21-2020.csv',
 '09-22-2020.csv',
 '09-23-2020.csv',
 '09-24-2020.csv',
 '09-25-2020.csv',
 '09-26-2020.csv',
 '09-27-2020.csv',
 '09-28-2020.csv',
 '09-29-2020.csv',
 '09-30-2020.csv',
 '10-01-2020.csv',
 '10-02-2020.csv',
 '10-03-2020.csv',
 '10-04-2020.csv',
 '10-05-2020.csv',
 '10-06-2020.csv',
 '10-07-2020.csv',
 '10-08-2020.csv',
 '10-09-2020.csv',
 '10-10-2020.csv',
 '10-11-2020.csv',
 '10-12-2020.csv',
 '10-13-2020.csv',
 '10-14-2020.csv',
 '10-15-2020.csv',
 '10-16-2020.csv',
 '10-17-2020.csv',
 '10-18-2020.csv',
 '10-19-2020.csv',
 '10-20-2020.csv',
 '10-21-2020.csv',
 '10-22-2020.csv',
 '10-23-2020.csv',
 '10-24-2020.csv',
 '10-25-2020.csv',
 '10-26-2020.csv',
 '10-27-2020.csv',
 '10-28-2020.csv',
 '10-29-2020.csv',
 '10-30-2020.csv',
 '10-31-2020.csv',
 '11-01-2020.csv',
 '11-02-2020.csv',
 '11-03-2020.csv',
 '11-04-2020.csv',
 '11-05-2020.csv',
 '11-06-2020.csv',
 '11-07-2020.csv',
 '11-08-2020.csv',
 '11-09-2020.csv',
 '11-10-2020.csv',
 '11-11-2020.csv',
 '11-12-2020.csv',
 '11-13-2020.csv',
 '11-14-2020.csv',
 '11-15-2020.csv',
 '11-16-2020.csv',
 '11-17-2020.csv',
 '11-18-2020.csv',
 '11-19-2020.csv',
 '11-20-2020.csv',
 '11-21-2020.csv',
 '11-22-2020.csv',
 '11-23-2020.csv',
 '11-24-2020.csv',
 '11-25-2020.csv',
 '11-26-2020.csv',
 '11-27-2020.csv',
 '11-28-2020.csv',
 '11-29-2020.csv',
 '11-30-2020.csv',
 '12-01-2020.csv',
 '12-02-2020.csv',
 '12-03-2020.csv',
 '12-04-2020.csv',
 '12-05-2020.csv',
 '12-06-2020.csv',
 '12-07-2020.csv',
 '12-08-2020.csv',
 '12-09-2020.csv',
 '12-10-2020.csv',
 '12-11-2020.csv',
 '12-12-2020.csv',
 '12-13-2020.csv',
 '12-14-2020.csv',
 '12-15-2020.csv',
 '12-16-2020.csv',
 '12-17-2020.csv',
 '12-18-2020.csv',
 '12-19-2020.csv',
 '12-20-2020.csv',
 '12-21-2020.csv',
 '12-22-2020.csv',
 '12-23-2020.csv',
 '12-24-2020.csv',
 '12-25-2020.csv',
 '12-26-2020.csv',
 '12-27-2020.csv',
 '12-28-2020.csv',
 '12-29-2020.csv',
 '12-30-2020.csv',
 '12-31-2020.csv']

###**7. 여러 데이터 수집, 전처리해서, 하나의 데이터프레임 만들기**

* 지금까지의 과정을 모두 한데 모아서, 함수로 만들기
  1. 필요한 파일 리스트만 추출하기
  2. 파일 리스트 정렬하기
  3. 데이터프레임 전처리하기(별도 create_dateframe()함수)
  4. 데이터프레임 합치기

**최종 코드**

In [46]:
import json

with open('COVID-19-master/csse_covid_19_data/country_convert.json','r',encoding='utf-8-sig') as json_file:
  json_data = json.load(json_file)

def country_name_convert(row):
  if row['Country_Region'] in json_data:
    return json_data[row['Country_Region']]
  return row['Country_Region']

def create_dateframe(filename):

  doc = pd.read_csv(PATH + filename, encoding='utf-8-sig')  # 1. csv  파일 읽기
  try:
    doc = doc[['Country_Region','Confirmed']]   # 2. 특정 컬럼만 선택해서 데이터프레임 만들기
  except:
    doc = doc[['Country/Region','Confirmed']]   # 2. 특정 컬럼만 선택해서 데이터프레임 만들기
    doc.columns = ['Country_Region','Confirmed']
  doc = doc.dropna(subset=['Confirmed'])        # 3. 특정 컬럼에 없는 데이터 삭제하기
  doc['Country_Region'] = doc.apply(country_name_convert, axis=1)   # 4. 'Country_Region'의 국가명을 여러 파일에 일관되게 변경
  doc = doc.astype({'Confirmed':'int64'})       # 5. 특정 컬럼의 데이터 타입 변경하기
  doc = doc.groupby('Country_Region').sum()     # 6. 특정 컬럼으로 중복된 데이터를 합치기

  # 7. 파일명을 기반으로 날짜 문자열 변환하고, 'Confirmed' 컬럼명 변경하기
  date_column = filename.split('.')[0].lstrip('0').replace('-','/')
  doc.columns = [date_column]
  return doc

In [47]:
import os

def generate_dateframe_by_path(PATH):

  file_list, csv_list = os.listdir(PATH), list()
  first_doc = True
  for file in file_list:
    if file.split('.')[-1] == 'csv':
      csv_list.append(file)
  csv_list.sort()

  for file in csv_list:
    doc = create_dateframe(file)
    if first_doc:
      final_doc, first_doc = doc, False
    else:
      final_doc = pd.merge(final_doc, doc, how='outer', left_index=True, right_index=True)

  final_doc = final_doc.fillna(0)
  return final_doc

In [49]:
PATH = 'COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'
doc = generate_dateframe_by_path(PATH)
doc

                    1/22/2020  1/23/2020  ...  12/30/2020  12/31/2020
Country_Region                            ...
Afghanistan               0.0        0.0  ...     51405.0     51526.0
Albania                   0.0        0.0  ...     57727.0     58316.0
Algeria                   0.0        0.0  ...     99311.0     99610.0
Andorra                   0.0        0.0  ...      7983.0      8049.0
Angola                    0.0        0.0  ...     17433.0     17553.0
...                       ...        ...  ...         ...         ...
Vietnam                   0.0        2.0  ...      1456.0      1465.0
West Bank and Gaza        0.0        0.0  ...    136736.0    138004.0
Yemen                     0.0        0.0  ...      2097.0      2099.0
Zambia                    0.0        0.0  ...     20462.0     20725.0
Zimbabwe                  0.0        0.0  ...     13625.0     13867.0

[191 rows x 345 columns]

**참고: 데이터 타입 변환이 가능한 모든 열의 데이터 타입 변경**
* pd.astype(데이터타입)
  * object는 파이썬의 str 똔느 혼용 데이터 타입(문자열)
  * int64는 파이썬의 int (정수)
  * float64는 파이썬의 float(부동소숫점)
  * bool는 파이썬의 bool(True 또는 False 값을 가지는 boolean)

In [50]:
doc = doc.astype('int64')
doc

                    1/22/2020  1/23/2020  ...  12/30/2020  12/31/2020
Country_Region                            ...
Afghanistan                 0          0  ...       51405       51526
Albania                     0          0  ...       57727       58316
Algeria                     0          0  ...       99311       99610
Andorra                     0          0  ...        7983        8049
Angola                      0          0  ...       17433       17553
...                       ...        ...  ...         ...         ...
Vietnam                     0          2  ...        1456        1465
West Bank and Gaza          0          0  ...      136736      138004
Yemen                       0          0  ...        2097        2099
Zambia                      0          0  ...       20462       20725
Zimbabwe                    0          0  ...       13625       13867

[191 rows x 345 columns]

**pandas 라이브러리로 csv 파일 쓰기**
* pandas dataframe 데이터를 csv 파일로 저장하기 위해, to_csv() 함수 사용
  ```
  doc.to_csv("00_data/students_default.csv")
  ```
* encoding 옵션 사용 가능
  ```
  doc.to_csv("00_data/students_default.csv", encoding='utf-8-sig')
  ```

In [51]:
doc.to_csv('COVID-19-master/final_df.csv')