<a href="https://colab.research.google.com/github/SeyoungYoo/SOLUX_COVID_19/blob/main/python_data_analysis/09_pandas_final_graph.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**코로나 국가별 확진자 수 추이 분석/시각화**
* https://public.flourish.studio/visualisation/1887877/

###**날짜별 확진자수 최종 데이터프레임 읽기(df_confirmed)**

In [ ]:
import pandas as pd
df_confirmed = pd.read_csv("COVID-19-master/final_df.csv")
df_confirmed.head()

  Country_Region  1/22/2020  1/23/2020  ...  12/29/2020  12/30/2020  12/31/2020
0    Afghanistan          0          0  ...       51350       51405       51526
1        Albania          0          0  ...       57146       57727       58316
2        Algeria          0          0  ...       98988       99311       99610
3        Andorra          0          0  ...        7919        7983        8049
4         Angola          0          0  ...       17371       17433       17553

[5 rows x 346 columns]

In [ ]:
df_confirmed.shape

(191, 346)

###**국가명과 iso2 매칭 테이블 읽기(country_info)**
* iso2 컬럼값으로 https://www.countryflags.io/ 에서 제공하는 국기 이미지 링크를 얻을 수 있음
* 다음 데이터는 결측치로 변환됨
  * '', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan', '1.#IND', '1.#QNAN', '', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan', 'null'
* Namibia 국가의 iso2 값이 NA이므로 결측치 변환을 막기위해 다음과 같은 옵션 설정
  * keep_default_na=False: 디폴트 결측치 변환 데이터를 사용하지 않고, na_values로 지정한 데이터만 결측치로 변환
  * na_values='': 결측치로 변환할 값을 지정

In [ ]:
country_info = pd.read_csv("COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv", encoding="utf-8-sig",keep_default_na=False, na_values='')
country_info.head()

   UID iso2 iso3  code3  ...       Lat      Long_ Combined_Key  Population
0    4   AF  AFG    4.0  ...  33.93911  67.709953  Afghanistan  38928341.0
1    8   AL  ALB    8.0  ...  41.15330  20.168300      Albania   2877800.0
2   12   DZ  DZA   12.0  ...  28.03390   1.659600      Algeria  43851043.0
3   20   AD  AND   20.0  ...  42.50630   1.521800      Andorra     77265.0
4   24   AO  AGO   24.0  ... -11.20270  17.873900       Angola  32866268.0

[5 rows x 12 columns]

In [ ]:
country_info[country_info['Country_Region']=='Namibia']

     UID iso2 iso3  code3  ...      Lat    Long_ Combined_Key Population
379  516   NA  NAM  516.0  ... -22.9576  18.4904      Namibia  2540916.0

[1 rows x 12 columns]

In [ ]:
country_info = country_info[['iso2','Country_Region']]
country_info.head()

  iso2 Country_Region
0   AF    Afghanistan
1   AL        Albania
2   DZ        Algeria
3   AD        Andorra
4   AO         Angola

* 중복 행 제거

In [ ]:
country_info.shape

(4171, 2)

In [ ]:
country_info = country_info.drop_duplicates(subset='Country_Region',keep='last')
country_info.shape

(192, 2)

###**날짜별 국가별 확진자수와 국가별 iso2 값 병합**

In [ ]:
doc_final_country = pd.merge(df_confirmed, country_info, how='left', on='Country_Region')
doc_final_country.head()

  Country_Region  1/22/2020  1/23/2020  ...  12/30/2020  12/31/2020  iso2
0    Afghanistan          0          0  ...       51405       51526    AF
1        Albania          0          0  ...       57727       58316    AL
2        Algeria          0          0  ...       99311       99610    DZ
3        Andorra          0          0  ...        7983        8049    AD
4         Angola          0          0  ...       17433       17553    AO

[5 rows x 347 columns]

In [ ]:
doc_final_country.shape

(191, 347)

**없는 데이터(NaN) 확인하기**

In [ ]:
doc_final_country.isnull().sum()

Country_Region    0
1/22/2020         0
1/23/2020         0
1/24/2020         0
1/25/2020         0
                 ..
12/28/2020        0
12/29/2020        0
12/30/2020        0
12/31/2020        0
iso2              5
Length: 347, dtype: int64

**특정 컬럼에 없는 데이터(NaN)가 있는 경우, 해당 행들만 보여주기**
* 특정 컬럼 조건에 맞는 행들만 추출 가능
  * dataframe[dataframe[컬럼명] 조건]

In [ ]:
doc_final_country[doc_final_country['iso2'].isnull()]   # iso2 값이 없는 데이터를 보여줌

       Country_Region  1/22/2020  1/23/2020  ...  12/30/2020  12/31/2020  iso2
44        Cruise Ship          0          0  ...           0           0   NaN
49   Diamond Princess          0          0  ...         712         712   NaN
105        MS Zaandam          0          0  ...           9           9   NaN
131            Others          0          0  ...           0           0   NaN
168            Taiwan          1          1  ...         797         799   NaN

[5 rows x 347 columns]

**참고: 복합 조건은**
* dataframe[(조건1)&(조건2)]: 조건1과 조건2 모두 만족(and 조건)
* dataframe[(조건1)|(조건2)]: 조건1 또는 조건2 만족(or 조건)
* 조건에 괄호를 넣는 것이 오동작을 방지하기 위해 좋음
  ```
  nan_rows = doc_final_country[(doc_final_country['iso2'].isnull())&(doc_final_country['4/01/2020']==0)]
  nan_rows.head()
  ```

**특정 컬럼에 없는 데이터 삭제하기**

In [ ]:
doc_final_country = doc_final_country.dropna(subset=['iso2'])

In [ ]:
doc_final_country[doc_final_country['iso2'].isnull()]

Empty DataFrame
Columns: [Country_Region, 1/22/2020, 1/23/2020, 1/24/2020, 1/25/2020, 1/26/2020, 1/27/2020, 1/28/2020, 1/29/2020, 1/30/2020, 1/31/2020, 2/01/2020, 2/02/2020, 2/03/2020, 2/04/2020, 2/05/2020, 2/06/2020, 2/07/2020, 2/08/2020, 2/09/2020, 2/10/2020, 2/11/2020, 2/12/2020, 2/13/2020, 2/14/2020, 2/15/2020, 2/16/2020, 2/17/2020, 2/18/2020, 2/19/2020, 2/20/2020, 2/21/2020, 2/22/2020, 2/23/2020, 2/24/2020, 2/25/2020, 2/26/2020, 2/27/2020, 2/28/2020, 2/29/2020, 3/01/2020, 3/02/2020, 3/03/2020, 3/04/2020, 3/05/2020, 3/06/2020, 3/07/2020, 3/08/2020, 3/09/2020, 3/10/2020, 3/11/2020, 3/12/2020, 3/13/2020, 3/14/2020, 3/15/2020, 3/16/2020, 3/17/2020, 3/18/2020, 3/19/2020, 3/20/2020, 3/21/2020, 3/22/2020, 3/23/2020, 3/24/2020, 3/25/2020, 3/26/2020, 3/27/2020, 3/28/2020, 3/29/2020, 3/30/2020, 3/31/2020, 4/01/2020, 4/02/2020, 4/03/2020, 4/04/2020, 4/05/2020, 4/06/2020, 4/07/2020, 4/08/2020, 4/09/2020, 4/10/2020, 4/11/2020, 4/12/2020, 4/13/2020, 4/14/2020, 4/15/2020, 4/16/2020, 4/17/2020, 4/18/2020, 4/19/2020, 4/20/2020, 4/21/2020, 4/22/2020, 4/23/2020, 4/24/2020, 4/25/2020, 4/26/2020, 4/27/2020, 4/28/2020, 4/29/2020, ...]
Index: []

[0 rows x 347 columns]

###**국기 링크를 기존 컬럼 기반해서 만들어, 데이터프레임에 붙이기**
* 필요 데이터
  * 국가명, 국기, 날짜별 확진자 수
* www.countryflags.io
  * AD는 https://www.countryflags.io/AD/flat/64.png

* 국기 링크 만들기

In [ ]:
iso2 = 'AD'
flag_link = 'https://www.countryflags.io/'+iso2+'/flat/64.png'
flag_link

'https://www.countryflags.io/AD/flat/64.png'

**참고: 데이터프레임에 신규 컬럼 추가하기**
* 데이터 프레임에 신규 컬럼 추가하기
  * 데이터프레임[신규컬럼] = pd.Series(data=데이터)
    * 데이터는 행에 맞게, [0,1,2]와 같은 형태로 넣을 수 있음
  * 기존 데이터프레임 컬럼 값을 기반으로 신규 컬럼 추가하기
    * apply() 함수를 사용
    * 다음 create_flag_link 함수 적용 전에, 아래의 함수로 어떤 값이 인자로 들어오는지 확인해보기
      ```
      def create_flag_link(row):
        flag_link = 'https://www.countryflags.io/'+row+'/flat/64.png'
        return flag_link
      
      doc_final_country['Country_Flag'] = doc_final_country['iso2'].apply(create_flag_link)
      ```

In [ ]:
def create_flag_link(row):
  flag_link = 'https://www.countryflags.io/' + row + '/flat/64.png'
  return flag_link

doc_final_country['iso2'] = doc_final_country['iso2'].apply(create_flag_link)

In [ ]:
doc_final_country.head()

  Country_Region  ...                                        iso2
0    Afghanistan  ...  https://www.countryflags.io/AF/flat/64.png
1        Albania  ...  https://www.countryflags.io/AL/flat/64.png
2        Algeria  ...  https://www.countryflags.io/DZ/flat/64.png
3        Andorra  ...  https://www.countryflags.io/AD/flat/64.png
4         Angola  ...  https://www.countryflags.io/AO/flat/64.png

[5 rows x 347 columns]

###**데이터프레임 컬럼 조정하기**

1. 데이터프레임에서 필요한 컬럼만 선택하기
  * 데이터프레임.columns.tolist(): 컬럼명을 리스트로 변환

In [ ]:
cols = doc_final_country.columns.tolist()
cols

['Country_Region',
 '1/22/2020',
 '1/23/2020',
 '1/24/2020',
 '1/25/2020',
 '1/26/2020',
 '1/27/2020',
 '1/28/2020',
 '1/29/2020',
 '1/30/2020',
 '1/31/2020',
 '2/01/2020',
 '2/02/2020',
 '2/03/2020',
 '2/04/2020',
 '2/05/2020',
 '2/06/2020',
 '2/07/2020',
 '2/08/2020',
 '2/09/2020',
 '2/10/2020',
 '2/11/2020',
 '2/12/2020',
 '2/13/2020',
 '2/14/2020',
 '2/15/2020',
 '2/16/2020',
 '2/17/2020',
 '2/18/2020',
 '2/19/2020',
 '2/20/2020',
 '2/21/2020',
 '2/22/2020',
 '2/23/2020',
 '2/24/2020',
 '2/25/2020',
 '2/26/2020',
 '2/27/2020',
 '2/28/2020',
 '2/29/2020',
 '3/01/2020',
 '3/02/2020',
 '3/03/2020',
 '3/04/2020',
 '3/05/2020',
 '3/06/2020',
 '3/07/2020',
 '3/08/2020',
 '3/09/2020',
 '3/10/2020',
 '3/11/2020',
 '3/12/2020',
 '3/13/2020',
 '3/14/2020',
 '3/15/2020',
 '3/16/2020',
 '3/17/2020',
 '3/18/2020',
 '3/19/2020',
 '3/20/2020',
 '3/21/2020',
 '3/22/2020',
 '3/23/2020',
 '3/24/2020',
 '3/25/2020',
 '3/26/2020',
 '3/27/2020',
 '3/28/2020',
 '3/29/2020',
 '3/30/2020',
 '3/31/2020',
 '4/01/2020',
 '4/02/2020',
 '4/03/2020',
 '4/04/2020',
 '4/05/2020',
 '4/06/2020',
 '4/07/2020',
 '4/08/2020',
 '4/09/2020',
 '4/10/2020',
 '4/11/2020',
 '4/12/2020',
 '4/13/2020',
 '4/14/2020',
 '4/15/2020',
 '4/16/2020',
 '4/17/2020',
 '4/18/2020',
 '4/19/2020',
 '4/20/2020',
 '4/21/2020',
 '4/22/2020',
 '4/23/2020',
 '4/24/2020',
 '4/25/2020',
 '4/26/2020',
 '4/27/2020',
 '4/28/2020',
 '4/29/2020',
 '4/30/2020',
 '5/01/2020',
 '5/02/2020',
 '5/03/2020',
 '5/04/2020',
 '5/05/2020',
 '5/06/2020',
 '5/07/2020',
 '5/08/2020',
 '5/09/2020',
 '5/10/2020',
 '5/11/2020',
 '5/12/2020',
 '5/13/2020',
 '5/14/2020',
 '5/15/2020',
 '5/16/2020',
 '5/17/2020',
 '5/18/2020',
 '5/19/2020',
 '5/20/2020',
 '5/21/2020',
 '5/22/2020',
 '5/23/2020',
 '5/24/2020',
 '5/25/2020',
 '5/26/2020',
 '5/27/2020',
 '5/28/2020',
 '5/29/2020',
 '5/30/2020',
 '5/31/2020',
 '6/01/2020',
 '6/02/2020',
 '6/03/2020',
 '6/04/2020',
 '6/05/2020',
 '6/06/2020',
 '6/07/2020',
 '6/08/2020',
 '6/09/2020',
 '6/10/2020',
 '6/11/2020',
 '6/12/2020',
 '6/13/2020',
 '6/14/2020',
 '6/15/2020',
 '6/16/2020',
 '6/17/2020',
 '6/18/2020',
 '6/19/2020',
 '6/20/2020',
 '6/21/2020',
 '6/22/2020',
 '6/23/2020',
 '6/24/2020',
 '6/25/2020',
 '6/26/2020',
 '6/27/2020',
 '6/28/2020',
 '6/29/2020',
 '6/30/2020',
 '7/01/2020',
 '7/02/2020',
 '7/03/2020',
 '7/04/2020',
 '7/05/2020',
 '7/06/2020',
 '7/07/2020',
 '7/08/2020',
 '7/09/2020',
 '7/10/2020',
 '7/11/2020',
 '7/12/2020',
 '7/13/2020',
 '7/14/2020',
 '7/15/2020',
 '7/16/2020',
 '7/17/2020',
 '7/18/2020',
 '7/19/2020',
 '7/20/2020',
 '7/21/2020',
 '7/22/2020',
 '7/23/2020',
 '7/24/2020',
 '7/25/2020',
 '7/26/2020',
 '7/27/2020',
 '7/28/2020',
 '7/29/2020',
 '7/30/2020',
 '7/31/2020',
 '8/01/2020',
 '8/02/2020',
 '8/03/2020',
 '8/04/2020',
 '8/05/2020',
 '8/06/2020',
 '8/07/2020',
 '8/08/2020',
 '8/09/2020',
 '8/10/2020',
 '8/11/2020',
 '8/12/2020',
 '8/13/2020',
 '8/14/2020',
 '8/15/2020',
 '8/16/2020',
 '8/17/2020',
 '8/18/2020',
 '8/19/2020',
 '8/20/2020',
 '8/21/2020',
 '8/22/2020',
 '8/23/2020',
 '8/24/2020',
 '8/25/2020',
 '8/26/2020',
 '8/27/2020',
 '8/28/2020',
 '8/29/2020',
 '8/30/2020',
 '8/31/2020',
 '9/01/2020',
 '9/02/2020',
 '9/03/2020',
 '9/04/2020',
 '9/05/2020',
 '9/06/2020',
 '9/07/2020',
 '9/08/2020',
 '9/09/2020',
 '9/10/2020',
 '9/11/2020',
 '9/12/2020',
 '9/13/2020',
 '9/14/2020',
 '9/15/2020',
 '9/16/2020',
 '9/17/2020',
 '9/18/2020',
 '9/19/2020',
 '9/20/2020',
 '9/21/2020',
 '9/22/2020',
 '9/23/2020',
 '9/24/2020',
 '9/25/2020',
 '9/26/2020',
 '9/27/2020',
 '9/28/2020',
 '9/29/2020',
 '9/30/2020',
 '10/01/2020',
 '10/02/2020',
 '10/03/2020',
 '10/04/2020',
 '10/05/2020',
 '10/06/2020',
 '10/07/2020',
 '10/08/2020',
 '10/09/2020',
 '10/10/2020',
 '10/11/2020',
 '10/12/2020',
 '10/13/2020',
 '10/14/2020',
 '10/15/2020',
 '10/16/2020',
 '10/17/2020',
 '10/18/2020',
 '10/19/2020',
 '10/20/2020',
 '10/21/2020',
 '10/22/2020',
 '10/23/2020',
 '10/24/2020',
 '10/25/2020',
 '10/26/2020',
 '10/27/2020',
 '10/28/2020',
 '10/29/2020',
 '10/30/2020',
 '10/31/2020',
 '11/01/2020',
 '11/02/2020',
 '11/03/2020',
 '11/04/2020',
 '11/05/2020',
 '11/06/2020',
 '11/07/2020',
 '11/08/2020',
 '11/09/2020',
 '11/10/2020',
 '11/11/2020',
 '11/12/2020',
 '11/13/2020',
 '11/14/2020',
 '11/15/2020',
 '11/16/2020',
 '11/17/2020',
 '11/18/2020',
 '11/19/2020',
 '11/20/2020',
 '11/21/2020',
 '11/22/2020',
 '11/23/2020',
 '11/24/2020',
 '11/25/2020',
 '11/26/2020',
 '11/27/2020',
 '11/28/2020',
 '11/29/2020',
 '11/30/2020',
 '12/01/2020',
 '12/02/2020',
 '12/03/2020',
 '12/04/2020',
 '12/05/2020',
 '12/06/2020',
 '12/07/2020',
 '12/08/2020',
 '12/09/2020',
 '12/10/2020',
 '12/11/2020',
 '12/12/2020',
 '12/13/2020',
 '12/14/2020',
 '12/15/2020',
 '12/16/2020',
 '12/17/2020',
 '12/18/2020',
 '12/19/2020',
 '12/20/2020',
 '12/21/2020',
 '12/22/2020',
 '12/23/2020',
 '12/24/2020',
 '12/25/2020',
 '12/26/2020',
 '12/27/2020',
 '12/28/2020',
 '12/29/2020',
 '12/30/2020',
 '12/31/2020',
 'iso2']

**데이터프레임 컬럼 위치 변경**

In [ ]:
cols.remove('iso2')
cols.insert(1,'iso2')

In [ ]:
doc_final_country = doc_final_country[cols]

In [ ]:
doc_final_country.head()

  Country_Region  ... 12/31/2020
0    Afghanistan  ...      51526
1        Albania  ...      58316
2        Algeria  ...      99610
3        Andorra  ...       8049
4         Angola  ...      17553

[5 rows x 347 columns]

**컬럼명 변경**

In [ ]:
cols[1] = 'Country_Flag'

In [ ]:
doc_final_country.columns = cols
doc_final_country.head()

  Country_Region  ... 12/31/2020
0    Afghanistan  ...      51526
1        Albania  ...      58316
2        Algeria  ...      99610
3        Andorra  ...       8049
4         Angola  ...      17553

[5 rows x 347 columns]

###**최종 가공 완료 파일 저장**

In [ ]:
doc_final_country.to_csv("COVID-19-master/final_covid_data_for_graph.csv")

**그래프 만들기**
* https://app.flourish.studio/ 로그인
* New visualization 선택 -> Bar Chart Race 선택 -> 데이터 수정(파일 업로드)